!!!5
%html{class:"no-js", lang:""}
  %head
    %meta{charset:"utf-8"}
    %meta{:"http-equiv" => "x-ua-compatible", content:"ie=edge"}
    %title Papelería Diseñarte
    %meta{name:"description", content:"Papeleria Disenarte"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
    %link{rel:"apple-touch-icon", href:"apple-touch-icon.png"}
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{rel:"stylesheet", href:"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"}
    %link{rel:"stylesheet", href:"css/normalize.css"}
    %link{rel:"stylesheet", href:"css/main.css"}
    %link{rel:"stylesheet", href:"css/bootstrap-social.css"}
    %link{href:'https://fonts.googleapis.com/css?family=Dancing+Script', rel:'stylesheet', type:'text/css'}
    %link{href:"https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css", rel:"stylesheet"}
    %script{src:"js/vendor/modernizr-2.8.3.min.js"}
  %body
    
    .row
      .col-xs-6.col-md-3
        %a.thumbnail{:href => "#probando"}
        %img{:alt => "Producto 1", :src => "/imgs/galeria/galeria_21.jpg"}
        //%img{src:"/imgs/logo.png", alt:"Logo Restaurante Facilito", width:200, height:145}
