-gallery_images = ["club-sandwich.png","papas.png","hamburger.png","panini.png","club-sandwich.png","papas.png"]
!!!5
%html{class:"no-js", lang:""}
  %head
    %meta{charset:"utf-8"}
    %meta{:"http-equiv" => "x-ua-compatible", content:"ie=edge"}
    %title La mejor comida en Restauranto
    %meta{name:"description", content:"Come rico y barato en el mejor rastaurante de la ciudad, servicio de primera. Los mejores tacos de la ciudad."}
    %link{rel:"stylesheet", href:"/offline/style.css",type:"text/css"}
  %body
    %p#message Parece que no pudimos conectarnos a internet, no hay problema, aquí hay información que te será útil.
    .container
      %h1 Restaurante Facilito
      %p
        %strong Dirección
        Av Paseo de la Reforma 50, Miguel Hidalgo, 11580 Ciudad de México, D.F.
      %p
        %strong Horario
        5pm - 11pm
      %p
        %strong Teléfono
        123456789
      %p
        %strong Teléfono
        123456789
      %p
        %strong Descripción
        Servimos comida hecha por artistas, ven y prueba la mejor hamburguesa en nuestro clásico Facilito Hamburger, o unas papás como nunca antes.
      #map
        %img{src:"/offline/map.png"}
        %p Aquí hay un mapa en caso de que necesites más referencias
      

